.grid-image {
    max-width: 100px;
    max-height: 50px;
    object-fit: cover;
}

.orders-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 5rem;
    margin-bottom: 2rem;
    background-color: #dbd8d8;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 10rem;
    height: 100%;
}

.orders-container-dark{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 5rem;
    margin-bottom: 2rem;
    background-color: #33373E;
    padding: 30px;
    border-radius : 15px;
}