.navbar-container{
    display: flex;
    justify-content: space-between;
    padding-top : 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    align-items: center;
    position: fixed;
    width : 100%;
    top : 0;
    right : 0;
    z-index: 1;
}

.navBar-company-title{
    position: relative;
    top : -4px;
    margin-right: 1rem;
}

.right-navbar-container{
    display: flex;
}

.navBar-icons {
    margin-left : 1rem;
    margin-right: 1rem;
    cursor: pointer;
}

.navBar-icon-value{
    position: relative;
    left : -15px;
    top : -20px;
    font-size: 10px;
}