.navbar-container{
    display: flex;
    justify-content: space-between;
    padding-top : 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    align-items: center;
    position: fixed;
    width : 100%;
    top : 0;
    right : 0;
    z-index: 1;
}

.navBar-company-title{
    position: relative;
    top : -4px;
    margin-right: 1rem;
}

.right-navbar-container{
    display: flex;
}

.navBar-icons {
    margin-left : 1rem;
    margin-right: 1rem;
    cursor: pointer;
}

.navBar-icon-value{
    position: relative;
    left : -15px;
    top : -20px;
    font-size: 10px;
}

@media only screen and (max-width: 760px){
    .navbar-container{
    font-size: 20px;
    width:100%;
    }
    .navBar-icons{
        margin-left: 5px;
        margin-right: 5px;
    }
    .navBar-icon-value{
        left: -5px;
    }
}

@media only screen and (max-width: 350px) {
    .navbar-container {
        font-size: 18px;
        width: 100%;
    }

    .navBar-icons {
        margin-left: 3px;
        margin-right: 3px;
    }

    .navBar-icon-value {
        left: -4px;
    }
}