.navbar-container{
    display: inline-flex;
    justify-content: space-between;
    width: 98%;
    margin-top : 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    align-items: center;
}

.navBar-icons{
    margin-right : 1rem;
    cursor: pointer;
}
.navBar-company-title{
    position: relative;
    top : -4px;
    margin-right: 1rem;
}