.page-contiainer{
  display: flex;
}

.main-page-container-partial{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width : 100%; */
  margin-left: 14rem;
}

.main-page-container-full {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}